.loggedPopup {
    position: fixed;
    background-color: white;
    z-index: 10;
    transform: scale(0);
}

.loginPopup {
    position: fixed;
    background-color: white;
    z-index: 10;
    transform: scale(0);
}

.loggedPopup.active {
    transform: scale(1);
}

.loginPopup.active {
    transform: scale(1);
}

#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#menuOverlay.active {
    pointer-events: all;
}