.Registration{
    display: flex;
    justify-content: center;
}

.userRegistration {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 30px 80px 30px 80px;
    max-width: 150px;
    border: 2px solid var(--color1);
    border-radius: 15px;
    background-color: var(--color4);
}